{% extends 'base.html' %}

{% block content %}
<div class="card text-center">
    <div class="card-body">
        <h2>   Create a New SuperHero   </h2>

        {% if error_message %}
            <p class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}

            <!-- Using the formset -->
            {{ form.as_p }}

            <input class="btn btn-primary btn-sm" type="submit" value="Submit">
            <a class="btn btn-secondary btn-sm" href="/">Cancel </a>
        </form>
    </div>
</div>
{% endblock %}