{% extends 'base.html' %}

{% block content %}
<form method="POST">
    <!-- Security token by Django -->
    {% csrf_token %}
    <div class="card">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-center"> ... some picture here ... </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-detail card-body">
                            <h5 class="card-title text-center">{{ superhero.name }}</h5>
                            <p class="card-text">Alter Ego:  {{ superhero.alterEgo }}</p>
                            <p class="card-text">Primary Ability:  {{ superhero.primaryAbility }}</p>
                            <p class="card-text">Secondary Ability:  {{ superhero.secondaryAbility }}</p>
                            <p class="card-text">Catchphrase:  {{ superhero.catchphrase }}</p>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-secondary btn-sm" href="/superheroes/">Exit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}