

body {
    background: white url("images/DuEzgZP.jpg") no-repeat;
}

.card {
    margin-top: 25px;
}

.btn-navbar {
    color: white;
}

.card-title {
    padding-left: 20px;
}

.add-btn {
    margin-right: 20px;
    margin-top: 10px;
}