<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>  Superhero Details  </h2>

        <label for="superhero.name">Name: </label>{{ superhero.name }} <br>
        <label for="superhero.alterEgo">Alter Ego: </label>{{ superhero.alterEgo }}<br>
        <label for="superhero.primaryAbility">Primary Ability: </label>{{ superhero.primaryAbility }}<br>
        <label for="superhero.secondaryAbility">Secondary Ability: </label>{{ superhero.secondaryAbility }}<br>
        <label for="superhero.catchphrase">Catchphrase: </label>{{ superhero.catchphrase }}<br><br>
        <input type="submit" value="Exit">
</body>
</html>